.homeHero {
  background-color: --var(--color-background);
  background-image: radial-gradient(
      at 4% 42%,
      hsla(244, 100%, 60%, 0.46) 0px,
      transparent 50%
    ),
    radial-gradient(at 66% 39%, hsla(271, 95%, 37%, 0.9) 0px, transparent 50%),
    radial-gradient(at 4% 56%, hsla(275, 100%, 50%, 0.26) 0px, transparent 50%),
    radial-gradient(at 91% 57%, hsla(232, 100%, 50%, 0.59) 0px, transparent 50%);
}
.homeHero:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url(/noise.png);
  opacity: 0.08;
  mix-blend-mode: soft-light;
  pointer-events: none;
  z-index: 2;
}
