.contentWrapper {
  p {
    margin-bottom: 1rem;
  }

  h2,
  h3 {
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-weight: bold;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }
}